.services-main {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  gap: 10%;
  /* flex-wrap: wrap; */
}

.services-hero img{
  width: 480px;
  height: auto;
}

.services-content {
 
  .services-header {
    color: #fcf43d;
  }
  h2 {
    font-size: 36px;
  }
  button {
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 576px) {
  .services-main {
    margin: 0;
    padding: 20px;
    flex-wrap: wrap;
    .services-hero img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .services-main {
    margin: 0;
    padding: 20px;
    flex-wrap: wrap;
    .services-hero img {
      width: 100%;
      height: auto;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
   .services-main {
    margin: 0;
    padding: 20px;
    flex-wrap: wrap;
    .services-hero img {
      width: 100%;
      height: auto;
    }
  }
}
