.footer-main{
    /* border: 1px solid white; */
    width:80dvw;
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.footer-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.social-icons{
    display: flex;
    gap:20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    flex-wrap: wrap-reverse;
}

.footer-content{
    width: 40%;
    display: flex;
    justify-content: space-between;
}