.footer-main {
  margin: 0 auto;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  flex-wrap: wrap-reverse;

  .map img {
    width: 100%;
    height: auto;
  }
}

.footer-content {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .footer-main {
    margin: 0;
    padding: 20px;
  }
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-content {
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .footer-main {
    margin: 0;
    padding: 20px;
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    .map img {
      width: 100%;
      height: auto;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-main {
    margin: 0;
    padding: 20px;
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    .map img {
      width: 100%;
      height: auto;
    }
  }
}








