.facilities-main {
  /* border: 1px solid white; */
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;
  gap: 20%;
}

.facilities-cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .card {
    display: flex;
    flex-wrap: nowrap;
    width: 320px;
    text-align: start;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 10px 30px;
  }
}

.facilities-cards-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  h4 {
    color: #fffdf8;
    margin-bottom: 0em;
    
  }
  p {
    color: #c4c4c4;
  }
}


@media screen and (max-width: 576px) {
  .facilities-main{
    margin: 0;
    padding: 20px;
  }
  .facilities-cards {
  
    .card{
      padding: 0;
      .facilities-cards-img img{
        width: 100px;
        height: 100px;
      }
    }
    
  }
  
}

@media screen and (min-width: 577px) and (max-width: 767px) {
 
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  
}
